@import "../variables"
@import "../mixins"

//<1440px
@media screen and (max-width: $laptop_large)
//<1280px
@media screen and (max-width: $laptop_medium)
//<1024px
@media screen and (max-width: $laptop_small)
  .based_container
    padding: 40px

  .based_h2
    line-height: 1.4


//<960px
@media screen and (max-width: $tablet_large)
//<768px
@media screen and (max-width: $tablet_medium)
//<640px
@media screen and (max-width: $tablet_small)
  .based_container
    padding: 20px

//<540px
@media screen and (max-width: $phone_large)
//<480px
@media screen and (max-width: $phone_medium)
//<320px
@media screen and (max-width: $phone_small)
